.hold-transition.skin-blue{
    height: 100%
}

.main-header .navbar-static-top {
    background: url(../dist/img/back1.jpg) no-repeat #3c8dbc;
    justify-content: left;
    padding: 0 10px 0 0;
    font-size: 14px;
    height: 50px;
}

.main-header .user-menu-nav.dropdown {
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    text-align: center;
}

.main-header .user-menu-nav .user-toggle {
    height: 50px;
    line-height: 20px;
    padding: 15px;
    display: block;
    color: #f6f6f6;
}

.main-header .user-menu-nav .user-toggle:hover{
    background: #367fa9;
    color: #f6f6f6;
}

.user-menu-nav .user-toggle .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

.user-menu-nav .dropdown-menu{
    padding: 0;
    border: none
}

.main-header .logo {
    -webkit-transition: width .3s ease-in-out !important;
    -o-transition: width .3s ease-in-out !important;
    transition: width .3s ease-in-out !important;
}
.main-header .navbar {
    -webkit-transition: margin-left .3s ease-in-out !important;
    -o-transition: margin-left .3s ease-in-out !important;
    transition: margin-left .3s ease-in-out !important;
}

.main-sidebar {
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out !important;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out !important;
    -webkit-transition: width .3s ease-in-out,-webkit-transform .3s ease-in-out !important;
    transition: width .3s ease-in-out,-webkit-transform .3s ease-in-out !important;
    -o-transition: transform .3s ease-in-out,width .3s ease-in-out !important;
    transition: transform .3s ease-in-out,width .3s ease-in-out !important;
    transition: transform .3s ease-in-out,width .3s ease-in-out,-webkit-transform .3s ease-in-out !important;
}

.content-wrapper, .main-footer {
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out !important;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out !important;
    -webkit-transition: margin .3s ease-in-out,-webkit-transform .3s ease-in-out !important;
    transition: margin .3s ease-in-out,-webkit-transform .3s ease-in-out !important;
    -o-transition: transform .3s ease-in-out,margin .3s ease-in-out !important;
    transition: transform .3s ease-in-out,margin .3s ease-in-out !important;
    transition: transform .3s ease-in-out,margin .3s ease-in-out,-webkit-transform .3s ease-in-out !important;
}

.logo .logo-image {
    margin-top: -8px;
    height: 45px;
    width: auto !important
}

.logo .logo-mini img {
    width: 45px !important;
}

.btn {
    background-image: none;
}

.login-page {
    position: fixed;
    height: 100%;
    width: 100%;
}

.error {
    color: #D8000C;
}

.form-group .dropdown-toggle {
    width: 100% !important;
    text-align: start;
    padding-right: 20px;
    min-height: 34px;
}

.form-group .dropdown-toggle span.caret {
        position: absolute;
        right: 7px;
        top: 16px;
}

.form-group .dropdown.dropdown-tree ul {
    width: 100%;
}

.form-group .dropdown.dropdown-tree li a span {
    margin-right: 5px;
}

.jstree-file-icon {
    background: url(/images/file_sprite.png) 0 0 no-repeat !important;
    width: 18px !important;
    height: 18px !important;
    line-height: 18px !important;
}

.invoice-form .form-group .control-label {
    text-align: left;
}

.invoice-form .form-group .form-control {
    border: none;
    border-bottom: 1px dashed #ccc;
}

.invoice-form .form-control[readonly] {
    background-color: white;
    cursor: not-allowed;
}

.invoice-form .form-group span.required {
    color: #D8000C;
    padding-left: 5px;
}

.invoice-service-table tbody th {
    padding: 0px !important;
}

    .invoice-service-table tbody th .form-control {
        border: 0px !important;
    }

.custom-loader {
    z-index: 10000 !important;
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
}

.icon-adjust-increase {
    color: #00a65a !important;
}

.icon-adjust-reduce {
    color: #f39c12 !important;
}

.icon-adjust-info {
    color: #00c0ef !important;
}

.icon-adjust-replace {
    color: #dd4b39 !important;
}

.form-horizontal .control-label span.required {
    color: #D8000C;
    padding-left: 5px;
}

.invoice-lock {
    padding-right: 5px;
    color: #f39c12;
}

.invoice-view {
    color: #3c8dbc;
    cursor: pointer;
}

.header-name-app {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 50px;
}

#headerTitle {
    color: white;
    font-weight: bold;
    font-size: 28px;
    margin: 0px;
    text-shadow: 0px 0px 5px #000;
}

.navbar-custom-menu {
    position: absolute;
    top: 1px;
    right: 0px;
}

.radioFee {
    padding: 0;
}

#template-row td {
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}
#template-row td input {
    border: none;
    width:40px;
}
    #template-row td input:focus {
        outline: none;
    }

/*details publishrelease*/
.detailHeader{
    margin-top:30px;
    text-align:center;
    margin-bottom:10px;
}
    .detailHeader h5,h4, h2 {
        font-weight: bold;
    }
.detail-publish-release-form input {
    border: 0;
    border-bottom: 1px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #808080;
    margin-left:3px;
    width:100%;
}
.detail-publish-release-form label {
    margin-bottom:0px;
}
.detail-publish-release-form input:focus, #tblInvoicePatterns input:focus {
    outline: none;
}
#tblInvoicePatterns input {
    width: 100%;
    border: 0;
}
.detail-publish-release-form tr{
    height:30px;
}
.treenode-item, .treenode-icon {
    background-image: url(/images/32px.png);
    background-repeat: no-repeat;
}
.treenode-icon {
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
}
.treenode-anchor {
    display: flex;
    cursor: pointer;
    padding-right: 10px
}
.treenode-anchor:hover, .treenode-anchor.actived {
    background: #e7f4f9;
    border-radius: 2px;
    box-shadow: inset 0 0 1px #cccccc;
}
.treenode-group .treenode-group {
    margin-left: 24px;
    /*background-image: url(/images/32px.png);
    background-position: -292px -4px;
    background-repeat: repeat-y;*/
}
.treenode-group.hasChild {
    background-image: url(/images/32px.png);
    background-position: -292px -4px;
    background-repeat: repeat-y;
}
.treenode-close > .treenode-icon {
    background-position: -100px -4px;
}
.treenode-open > .treenode-icon {
    background-position: -132px -4px;
}
.treenode-leaf > .treenode-icon {
    background-position: -68px -4px;
}
.treenode-icon.treenode-folder {
    background-position: -260px -4px;
}
.treenode-icon.treenode-file {
    background: url(/images/file_sprite.png) 0 0 no-repeat !important;
    width: 18px !important;
    height: 18px !important;
    line-height: 18px !important;
}
.treenode-item {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    background-position: -292px -4px;
    background-repeat: repeat-y;
}
.treenode-last {
    background: transparent;
}
.treenode-loading {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}
.treenode-loading span{
    margin-left: 5px;
}
.appcard .loading {
    position: relative;
    background-color: #E2E2E2;
}
.appcard .loading::after {
    top: 0;
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
    -webkit-animation: appcard-loading 1.5s infinite;
    animation: appcard-loading 1.5s infinite;
}
@-webkit-keyframes appcard-loading {
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes appcard-loading {
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
.wrap-loading-page {
    font-family: Montserrat;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.wrap-loading-page .text {
        color: #fbae17;
        display: inline-block;
        margin-left: 5px;
    }

.wrap-loading-page .bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: 15px;
}

.wrap-loading-page .bounceball:before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fbae17;
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-animation: bounce 500ms alternate infinite ease;
        animation: bounce 500ms alternate infinite ease;
    }

@-webkit-keyframes bounce {
    0% {
        top: 30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        -webkit-transform: scaleX(2);
        transform: scaleX(2);
    }

    35% {
        height: 15px;
        border-radius: 50%;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    100% {
        top: 0;
    }
}

@keyframes bounce {
    0% {
        top: 30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        -webkit-transform: scaleX(2);
        transform: scaleX(2);
    }

    35% {
        height: 15px;
        border-radius: 50%;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    100% {
        top: 0;
    }
}


/*end details publishrelease*/
